<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/conference_manager</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Mappings for annotated classes -->
        <mapping class="model.User"/>
        <mapping class="model.Reviewer"/>
        <mapping class="model.Author"/>
        <mapping class="model.Paper"/>
        <mapping class="model.Section"/>
        <mapping class="model.Conference"/>
        <mapping class="model.ConferenceSession"/>
        <mapping class="model.Abstract"/>
        <mapping class="model.PaperReview"/>
    </session-factory>
</hibernate-configuration>